[Unit]
Description=PlaceOrder
After=network.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/local/postlog/postlog

[Install]
WantedBy=multi-user.target